/* #header {
    background-color: cyan;
    color: #fff;
    margin: 0;
    padding: 0 10px;
    align-items: center;
}
#footer {
    background-color: cyan;
    color: #fff;
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
} */
#inside {
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px 0px;
}